<h1 class="text-[#17A2B8] font-medium text-[40px] leading-normal mb-5 text-center">{{'forgotpassword.forgotpassword' |
  translate}}
</h1>
@if (step == 1) {
<form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()"
  class="bg-slate-600 w-3/4 mx-auto p-8 rounded shadow-[-5px 2px 54px -9px rgba(0, 0, 0, 1)]">

  <div class="mb-3">
    <label for="email" class="block mb-2 capitalize text-sm font-medium text-gray-100">{{'forgotpassword.email' |
      translate}}: </label>
    <input autocomplete="on" formControlName="email" type="email" id="email">
    @if (verifyEmail.get("email")?.errors && verifyEmail.get("email")?.touched ){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">

      <span class="sr-only">Danger</span>
      <div>

        <ul class="mt-1.5  list-none list-inside">

          @if (verifyEmail.get("email")?.getError('required')) {
          <li>{{'forgotpassword.Email should be required' | translate}}</li>
          }
          @if (verifyEmail.get("email")?.getError('email')) {
          <li>{{'forgotpassword.Enter a valid email' | translate}}</li>
          }

        </ul>
      </div>
    </div>
    }

  </div>


  <button [disabled]="verifyEmail.invalid" type="submit">{{'forgotpassword.Verify Email' | translate}}</button>

</form>

}
@if (step == 2) {
<form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()"
  class="bg-slate-600 w-3/4 mx-auto p-8 rounded shadow-[-5px 2px 54px -9px rgba(0, 0, 0, 1)]">
  <div class="mb-3">

    <label for="resetCode" class="block mb-2 capitalize text-sm font-medium text-gray-100">{{'forgotpassword.resetCode'
      | translate}}:</label>
    <input formControlName="resetCode" type="text" id="resetCode">
    @if (verifyCode.errors && verifyCode.touched ){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">

      <span class="sr-only">Danger</span>
      <div>

        <ul class="mt-1.5  list-none list-inside">

          @if (verifyCode.getError('required')) {
          <li>{{'forgotpassword.Code should be required' | translate}}</li>
          }
          @if (verifyCode.getError('pattern')) {
          <li>{{'forgotpassword.Enter a valid code' | translate}}</li>
          }

        </ul>
      </div>
    </div>
    }
  </div>


  <button [disabled]="verifyCode.invalid" type="submit">{{'forgotpassword.verifyCode'| translate}}</button>

</form>
}
@if (step == 3) {
<form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()"
  class="bg-slate-600 w-3/4 mx-auto p-8 rounded shadow-[-5px 2px 54px -9px rgba(0, 0, 0, 1)]">

  <div class="mb-3">

    <label for="email" class="block mb-2 capitalize text-sm font-medium text-gray-100">{{'forgotpassword.email' |
      translate}}:</label>
    <input formControlName="email" type="text" id="email">
    @if (resetPassword.errors && resetPassword.touched ){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">

      <span class="sr-only">Danger</span>
      <div>

        <ul class="mt-1.5  list-none list-inside">

          @if (resetPassword.getError('required')) {
          <li>{{'forgotpassword.Email should be required' | translate}}</li>
          }
          @if (resetPassword.getError('pattern')) {
          <li>{{'forgotpassword.Enter a valid email' | translate}}</li>
          }

        </ul>
      </div>
    </div>

    }
  </div>
  <div class="mb-3">

    <label for="newPassword"
      class="block mb-2 capitalize text-sm font-medium text-gray-100">{{'forgotpassword.newPassword' |
      translate}}:</label>
    <input formControlName="newPassword" type="password" id="newPassword">
    @if (resetPassword.errors && resetPassword.touched ){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert">

      <span class="sr-only">Danger</span>
      <div>

        <ul class="mt-1.5  list-none list-inside">

          @if (resetPassword.getError('required')) {
          <li>{{'forgotpassword.Password should be required' | translate}}</li>
          }
          @if (resetPassword.getError('pattern')) {
          <li>{{'forgotpassword.Enter a valid password' | translate}}</li>
          }

        </ul>
      </div>
    </div>

    }
  </div>

  <button [disabled]="resetPassword.invalid" type="submit">{{'forgotpassword.resetPassword' | translate}}</button>

</form>
}
