.card {
  button {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
  }
    .heart {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 99;
      font-size: 40px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s, transform 1s;
    }

  &:hover {
    cursor: pointer;

    button,
    .heart {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      opacity: 1;

    }
  }
}
