<footer class="bg-slate-600 py-5">
  <div class="container px-5">
    <h2 class="m-0 h4 text-gray-100">{{'footer.Get The FreshCart App' | translate}}</h2>
    <p class="text-gray-100 small">
      {{'footer.We Will Send You a Link, Open it on Your Phone to download the app' | translate}}
    </p>

    <!-- inputs design  -->
    <div class="flex items-center gap-3 text-nowrap px-6 my-2">
      <input type="text" class="w-full rounded border" placeholder="{{'footer.email'|translate}}" />
      <button class="bg-[#09c] px-12 py-2 text-white">{{'footer.Share App Link' | translate}}</button>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div class="flex justify-between items-center my-4">
      <div class="flex items-center gap-2">
        <h3 class="h6 m-0 text-gray-100">{{'footer.Payment partners' | translate}}</h3>
        <img src="/images/amazon-pay.png" width="50px" class="sm:w-[40px]" alt="amazon image" />
        <img src="/images/American-Express-Color.png" width="50px" class="sm:w-[40px]"
          alt="American-Express-Color image" />
        <img src="/images/paypal.png" width="50px" class="sm:w-[40px]" alt="paypal image" />
        <img src="/images/mastercard.webp" width="50px" class="sm:w-[40px]" alt="mastercard image" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0 text-gray-100">{{'footer.Get Deliveries with FreshCart' | translate}}</h3>
        <img src="/images/get-google-play.png" width="80px" alt="google-play image" />
        <img src="/images/get-apple-store.png" width="80px" alt="apple-store image" />
      </div>
    </div>
  </div>
</footer>
